body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0C73B6;
    color: white;
    height: 90px;
}

.header-logo {
    font-size: 36px;
    padding: 20px 40px;
    float: left;
}

.header ul {
    margin: 0;
}

li {
    list-style: none;
}

.header li {
    padding: 33px 20px;
    float: left;
}

.header a {
    text-decoration: none;
    color: white;
}

.main {
    padding: 40px 80px;
    margin-bottom: 150px;
}

.main-title h1{
    font-size: 110px;
}

.main-title span{
    color: blue;
}

.main-title h2{
    font-size: 40px;
    margin-top: 120px;
}

.container {
    margin: 80px 80px ;
}

.container h3{
    font-size: 28px;
    border-bottom: 3px solid #dee7ec;
    padding-bottom: 20px;
}

.submit-button {
    width: 100px !important;
    margin: 10px 0 30px;
    padding: 20px;
    font-size: 18px;
    color: white;
    background-color: #0C73B6;
}

.container > input {
    width: 400px;
    margin: 10px 0 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.container > textarea {
    width: 400px;
    height: 60px;
    margin: 10px 0 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.container-layout {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 125px;
    padding: 20px 0;
}

.container-item {
    width: 200px;
}

.container-item img {
    width: 200px;
    margin-bottom: 10px;
}

.container-item p {
    font-size: 24px;
    padding: 20px 0;
    margin: 0;
}

.footer {
    height: 120px;
    background-color: #0C73B6;
    color: #fff;
    padding: 50px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}
